@font-face {
  font-family: heebo-medium;
  src: url(../fonts/medium/Heebo-Medium.ttf);
}

@font-face {
  font-family: heebo-regular;
  src: url(../fonts/regular/Heebo-Regular.ttf);
}

@font-face {
  font-family: heebo-light;
  src: url(../fonts/light/Heebo-Light.ttf);
}
