.city-weather {
  margin-top: 68.55px;
  
  @include for-mobile-layout {
    margin-top: 30px;
  }
  @include for-narrow-layout {
    margin-top: 30px;
  }

  @include for-narrow-normal-layout {
    margin-top: 30px;
  }
  background-color: $clr6;
  border-radius: 4px;
  .weather-side {
    border-radius: 30px;
    background-color: $clr7;
    color: $clr1;
    @include for-mobile-layout {
      margin: 73px 15px 73px 15px;
    }
    @include for-narrow-layout {
      margin: 73px 15px 73px 15px;
    }
    @include for-narrow-normal-layout {
      margin: 73px 25px 73px 25px;
    }
    @include for-normal-layout {
      margin: 73px 50px 73px 50px;
    }
    @include for-wide-layout {
      margin: 73px 117px 73px 117px;
    }
    .city-header {
      margin-top: 50px;
      .city-name {
        font-family: heebo-regular;
        font-size: 1.625rem;
        line-height: 1.625rem;
        color: $clr8;
        padding-top: 6px;
      }
      .city-country {
        font-size: 1.375rem;
        line-height: 1.375rem;
        color: $clr9;
        margin: 0 0 10px 0;
      }
      .city-time {
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: $clr9;
      }
    }
    .city-temp-container {
      .temp-celsius {
        margin: 25px 0 -25px 0;

        .city-temp {
          font-size: 8.125rem;
          line-height: 8.125rem;
          letter-spacing: -16.9px;
          font-family: heebo-medium;
        }

        .celsius {
          height: 30px;
          width: 30px;
          border: 10px solid $clr010;
          border-radius: 50%;
          margin-left: 15px;
        }
      }
      .city-condition {
        font-size: 1.875rem;
        color: $clr8;
        text-align: center;
        padding-bottom: 17px;
      }
    }
    .stats {
      text-align: center;
      flex-direction: column;
      gap: 10px;
      @include for-mobile-layout {
        margin: 15px 45px 24px 45px;
      }
      // @include for-narrow-layout {
      //   margin: 15px 45px 24px 45px;
      // }
      // @include for-narrow-normal-layout {
      //   margin: 15px 45px 24px 45px;
      // }

      @include for-normal-layout {
        margin: 25px 45.5px 34px 45.5px;
      }
      
      @include for-normal-wide-layout {
        gap: 36px;
        margin: 25px 51.5px 34px 51.5px;
        flex-direction: row;
      }
      @include for-wide-layout {
        gap: 36px;
        margin: 25px 51.5px 34px 51.5px;
        flex-direction: row;
      }
      .dividing-stats {
        gap: 30px;
        @include for-wide-layout {
          gap: 36px;
        }
      }
      font-size: 1.25rem;
      .stat-name {
        margin-bottom: 2px;
        color: $clr8;
        line-height: 1.875rem;
        font-size: 1.25rem;
      }
      .stat {
        font-family: heebo-medium;
        line-height: 1.875rem;
        font-size: 1.25rem;
        color: $clr1;
      }
    }
    .hours {
      margin-bottom: 14px;
      justify-content: center;
      @include for-mobile-layout {
        gap: 10px;
      }
      @include for-narrow-layout {
        gap: 20px;
      }

      @include for-normal-layout {
        gap: 20px;
        margin-left: 27px;
        margin-right: 27px;
      }
      @include for-wide-layout {
        gap: 26px;
      }
      .hour {
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: $clr9;
        padding: 3px 0 2px 0;
      }
      .small-celsius-container {
        .hourly-temp {
          font-size: 1.125rem;
          line-height: 1.375rem;
          color: $clr1;
          font-family: heebo-medium;
        }
        .celsius-small {
          height: 4px;
          width: 4px;
          border: 1px solid $clr010;
          border-radius: 2px;
          margin-left: 1px;
          padding: 3px 0 2px 0;
        }
      }
    }
  }
}
